!!! 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="styles/app.css")
    script(src="scripts/app.js")
    script
      require('initialize');
    title Brunchbreaker - break them all
  body
    #notifications
    a(href="/logout") Log Out 
    a(href="/auth/facebook") Log In 
    a(href="/user/1047419827") User
    
    if everyauth.loggedIn
      p= everyauth.user.name
      script(id="user_hash")
        window.user_hash = !{JSON.stringify(everyauth.user)}
    
    #score total score: 0
    #current_score current score: 0
    #content