.bubble
  &.highlighted
    cursor pointer
  
  &.color1
    background-color #A3E83D

    &.highlighted
      background-color #000

  &.color2
    background-color #FBBF35

    &.highlighted
      background-color #000

  &.color3
    background-color #5232EC

    &.highlighted
      background-color #000

  &.color4
    background-color #F55374

    &.highlighted
      background-color #000