@import "mixins"

bodyBackground = #1C1B1B

body
  background bodyBackground
  font 18px "Helvetica Neue", Arial, Helvetica, sans-serif
  color #EDDCC9

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248

#content
  padding 20px
  position relative
  width 605px
  margin 0 auto
  margin-top 40px
  margin-bottom 60px
  border-radius 4px

/* Headings */
h1,h2,h3,h3,h4
  font-weight normal
  color #222
  clear left

h1
  font-size 5em
  line-height 1.4
  margin-bottom 0.5em
h2
  font-size 2em
  line-height 1
  margin-bottom 0.5em

/* Text elements */
p
  margin 0 0 1.5em

a:focus, a:hover
  color #F95A5A
  text-decoration underline
a
  color #F95A5A
  text-decoration none

/* Lists */
ul, ol
  margin 0 1.5em 1.5em 0
  list-style-type none

/* Style */

#props
  position relative
  top 36px
  font-size 18px
  padding-left 373px
  color #eee
  font-style italic

.bubble
  position absolute
  transition top .3s ease-in

#notifications
  background #1C1B1B
  position fixed
  top 0
  left 0
  padding 5px
  width 100%
  display none

@import "bubble"