transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  transition arguments
  
border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments
  
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments